body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
    margin-top: 100px;
}
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color:purple;
}
input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
}

#strengthText {
    margin-top: 10px;
    font-weight: bold;
    font-size:30px;
}
